# Will be used by all CI systems, including travis.

imports:
#    - { resource: parameters_test.yml }
    - { resource: config_dev.yml }

framework:
    test: ~
    session:
        storage_id: session.storage.mock_file

web_profiler:
    toolbar: false
    intercept_redirects: false

swiftmailer:
    disable_delivery: true

doctrine:
    dbal:
        driver:   pdo_sqlite
        path:     ./vpa.sqlite
#        memory:   true
    orm:
        auto_generate_proxy_classes: true
        auto_mapping: true
