{% extends '::base.html.twig' %}
{% block body %}
<h2>{{ header }}</h2>
<div class="content">
<p>This VirtualPersistAPI site has the following users:</p>
<ul>
    {% for user in users %}
        <li>{{ user.uuid|e }}</li>
    {% endfor %}
</ul>
<p>Categories:</p>
<ul>
    {% for category in categories %}
        <li>{{ category['category']|e }}</li>
    {% endfor %}
</ul>
</div>
{% endblock %}

